@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: unset;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    /* display: block; */
    max-inline-size: 100%;
    block-size: auto;
  }
  h1 {
    font-size: 1rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
:root {
  --orange: #f9612e;
  --blue-dark: #3f76ca;
  --very-light-blue: #eef2ff;
  --white: #fff;
  --black: #000;
  --dark-orange: #dc5e34;
}
body {
  font-family: "Inter", sans-serif;
}
main {
  min-height: 70vh;
}
.wallet-container {
  background-color: #eef2ff;
  width: 27vw;
  height: 55vh;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.button-custom {
  padding: 0.6rem 1.5rem;
  background-color: var(--orange);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--dark-orange);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.marksheet-submit-btn {
  background-color: var(--orange);
  display: block;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 45vw;
  height: 45px;
  border: none;
  outline: none;
  font-weight: 700;
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--dark-orange);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button-custom-loading {
  width: 200px;
  height: 45px;
  background-color: var(--orange);
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--dark-orange);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.custom-header {
  background-color: var(--blue-dark);
}
footer {
  background-color: var(--blue-dark);
}

.custom-form {
  background-color: var(--very-light-blue);
}
.form-field {
  display: flex;
  flex-direction: column;
  label {
    font-weight: 600;
  }
  input {
    width: 500px;
    height: 45px;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
    padding-left: 1rem;
  }
  select {
    width: 500px;
    height: 45px;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
    padding-left: 1rem;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield;
  }
}
/* .sidebar-arts {
  height: 150vh;
} */
.sidebar {
  background-color: var(--very-light-blue);
  height: 85vh;
  width: 15vw;
  ul {
    list-style: none;
    padding-left: 0;
    transition: all 1s ease-in-out;
    li {
      background-color: var(--blue-dark);
      p {
        padding: 1rem;
        display: block;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        color: var(--white);
        cursor: pointer;
        margin-bottom: 0;
      }
      a {
        padding: 1rem;
        text-decoration: none;
        display: block;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        color: var(--white);
      }
    }
  }
  .dropdown {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
  }
  .dropdown.show {
    max-height: 500px; /* Set a max-height that is large enough to show all items */
  }
}
.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.wrapper > div {
  margin-top: 1.2rem;
}
.form-field-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1.2rem;
}


/* Floating animation for wallet logos */
.position-absolute {
  animation: float 3s ease-in-out infinite;
}

/* Add unique animation delays for each logo */
.position-absolute:nth-child(1) {
  animation-delay: 1s;
}
.position-absolute:nth-child(2) {
  animation-delay: 0.5s;
}
.position-absolute:nth-child(3) {
  animation-delay: 2s;
}
.position-absolute:nth-child(4) {
  animation-delay: 1.5s;
}
.position-absolute:nth-child(5) {
  animation-delay: 1.5s;
}
.position-absolute:nth-child(6) {
  animation-delay: 0s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.compile-marksheets{
  display: grid;
  grid-template-columns: auto 1fr;
  h1{
    text-align: center;
    margin-top: 2rem;
  }
}

.content {
  padding: 20px;
  background-color: #f9f9f9;
}

.marksheets-container {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 315px;
}

.marksheets-title {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.marksheets-article {
  margin-top: 10px;
}

.marksheets-subtitle {
  font-size: 22px;
  color: #555;
  margin-bottom: 30px;
  margin-top: 60px;
}

.marksheets-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.marksheets-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.marksheets-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.text-info {
  color: #007bff;
  margin-top: 10px;
}

.text-success {
  color: #28a745;
  margin-top: 10px;
}

.text-danger {
  color: #dc3545;
  margin-top: 10px;
}

